.subtoolbar {
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-note-button-wrapper {
    display: flex;
    justify-content: center;
}

.note-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.note-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-toolbar {
    display: flex;
    flex-direction: row-reverse;
}






