.subtoolbar {
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    justify-content: center;
    flex-direction: column;
    
}

.add-note-button-wrapper {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    display: none;
}

.button-toolbar {
    display: flex;
    flex-direction: row-reverse;
}






