.note-container {
    display: flex;
    flex-direction: column;
    
    row-gap: 10px;


    background: white;
    width: 230px;
    min-height: 230px;
    max-height: 460px;
    

    border-radius: 10px;
    border: solid 1px gray;
    
    padding: 8px;

}

.note-content {
    
    height: 100%;
}

.note-container:hover {
    transition: 0.3s;
    box-shadow: 1px 1px gray;
}

.note-container:hover .display-animation {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.display-animation {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    transition-delay: 0.3s;
}

.note-title {
    font-weight: bold;
}

.note-content {
    position: relative;

    box-sizing: border-box;
    background: whitesmoke;
    overflow-wrap: break-word;
    overflow-y: hidden;
    padding: 5px;
}

.note-toolbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 0px 15px;
    margin-top: auto;
}

.note-icon {

}