.toolbar-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    background: #ffffff;
}

.header-icons {
    display: flex;
}